.linenos .linenodiv , .highlight .hll { background-color: #ffffcc }
.linenos .linenodiv , .highlight  { background: #ffffff; }
.linenos .linenodiv .c, .highlight .c { color: #888888 } /* Comment */
.linenos .linenodiv .err, .highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.linenos .linenodiv .k, .highlight .k { color: #008800; font-weight: bold } /* Keyword */
.linenos .linenodiv .o, .highlight .o { color: #333333 } /* Operator */
.linenos .linenodiv .ch, .highlight .ch { color: #888888 } /* Comment.Hashbang */
.linenos .linenodiv .cm, .highlight .cm { color: #888888 } /* Comment.Multiline */
.linenos .linenodiv .cp, .highlight .cp { color: #557799 } /* Comment.Preproc */
.linenos .linenodiv .cpf, .highlight .cpf { color: #888888 } /* Comment.PreprocFile */
.linenos .linenodiv .c1, .highlight .c1 { color: #888888 } /* Comment.Single */
.linenos .linenodiv .cs, .highlight .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
.linenos .linenodiv .gd, .highlight .gd { color: #A00000 } /* Generic.Deleted */
.linenos .linenodiv .ge, .highlight .ge { font-style: italic } /* Generic.Emph */
.linenos .linenodiv .gr, .highlight .gr { color: #FF0000 } /* Generic.Error */
.linenos .linenodiv .gh, .highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.linenos .linenodiv .gi, .highlight .gi { color: #00A000 } /* Generic.Inserted */
.linenos .linenodiv .go, .highlight .go { color: #888888 } /* Generic.Output */
.linenos .linenodiv .gp, .highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.linenos .linenodiv .gs, .highlight .gs { font-weight: bold } /* Generic.Strong */
.linenos .linenodiv .gu, .highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.linenos .linenodiv .gt, .highlight .gt { color: #0044DD } /* Generic.Traceback */
.linenos .linenodiv .kc, .highlight .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
.linenos .linenodiv .kd, .highlight .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
.linenos .linenodiv .kn, .highlight .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
.linenos .linenodiv .kp, .highlight .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
.linenos .linenodiv .kr, .highlight .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
.linenos .linenodiv .kt, .highlight .kt { color: #333399; font-weight: bold } /* Keyword.Type */
.linenos .linenodiv .m, .highlight .m { color: #6600EE; font-weight: bold } /* Literal.Number */
.linenos .linenodiv .s, .highlight .s { background-color: #fff0f0 } /* Literal.String */
.linenos .linenodiv .na, .highlight .na { color: #0000CC } /* Name.Attribute */
.linenos .linenodiv .nb, .highlight .nb { color: #007020 } /* Name.Builtin */
.linenos .linenodiv .nc, .highlight .nc { color: #BB0066; font-weight: bold } /* Name.Class */
.linenos .linenodiv .no, .highlight .no { color: #003366; font-weight: bold } /* Name.Constant */
.linenos .linenodiv .nd, .highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.linenos .linenodiv .ni, .highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.linenos .linenodiv .ne, .highlight .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
.linenos .linenodiv .nf, .highlight .nf { color: #0066BB; font-weight: bold } /* Name.Function */
.linenos .linenodiv .nl, .highlight .nl { color: #997700; font-weight: bold } /* Name.Label */
.linenos .linenodiv .nn, .highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.linenos .linenodiv .nt, .highlight .nt { color: #007700 } /* Name.Tag */
.linenos .linenodiv .nv, .highlight .nv { color: #996633 } /* Name.Variable */
.linenos .linenodiv .ow, .highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.linenos .linenodiv .w, .highlight .w { color: #bbbbbb } /* Text.Whitespace */
.linenos .linenodiv .mb, .highlight .mb { color: #6600EE; font-weight: bold } /* Literal.Number.Bin */
.linenos .linenodiv .mf, .highlight .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
.linenos .linenodiv .mh, .highlight .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
.linenos .linenodiv .mi, .highlight .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
.linenos .linenodiv .mo, .highlight .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
.linenos .linenodiv .sa, .highlight .sa { background-color: #fff0f0 } /* Literal.String.Affix */
.linenos .linenodiv .sb, .highlight .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
.linenos .linenodiv .sc, .highlight .sc { color: #0044DD } /* Literal.String.Char */
.linenos .linenodiv .dl, .highlight .dl { background-color: #fff0f0 } /* Literal.String.Delimiter */
.linenos .linenodiv .sd, .highlight .sd { color: #DD4422 } /* Literal.String.Doc */
.linenos .linenodiv .s2, .highlight .s2 { background-color: #fff0f0 } /* Literal.String.Double */
.linenos .linenodiv .se, .highlight .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
.linenos .linenodiv .sh, .highlight .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
.linenos .linenodiv .si, .highlight .si { background-color: #eeeeee } /* Literal.String.Interpol */
.linenos .linenodiv .sx, .highlight .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
.linenos .linenodiv .sr, .highlight .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
.linenos .linenodiv .s1, .highlight .s1 { background-color: #fff0f0 } /* Literal.String.Single */
.linenos .linenodiv .ss, .highlight .ss { color: #AA6600 } /* Literal.String.Symbol */
.linenos .linenodiv .bp, .highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.linenos .linenodiv .fm, .highlight .fm { color: #0066BB; font-weight: bold } /* Name.Function.Magic */
.linenos .linenodiv .vc, .highlight .vc { color: #336699 } /* Name.Variable.Class */
.linenos .linenodiv .vg, .highlight .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
.linenos .linenodiv .vi, .highlight .vi { color: #3333BB } /* Name.Variable.Instance */
.linenos .linenodiv .vm, .highlight .vm { color: #996633 } /* Name.Variable.Magic */
.linenos .linenodiv .il, .highlight .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */