.linenos .linenodiv , .highlight .hll { background-color: #a39e9b }
.linenos .linenodiv , .highlight  { background: #e7e9db; color: #2f1e2e }
.linenos .linenodiv .c, .highlight .c { color: #8d8687 } /* Comment */
.linenos .linenodiv .err, .highlight .err { color: #ef6155 } /* Error */
.linenos .linenodiv .k, .highlight .k { color: #815ba4 } /* Keyword */
.linenos .linenodiv .l, .highlight .l { color: #f99b15 } /* Literal */
.linenos .linenodiv .n, .highlight .n { color: #2f1e2e } /* Name */
.linenos .linenodiv .o, .highlight .o { color: #5bc4bf } /* Operator */
.linenos .linenodiv .p, .highlight .p { color: #2f1e2e } /* Punctuation */
.linenos .linenodiv .ch, .highlight .ch { color: #8d8687 } /* Comment.Hashbang */
.linenos .linenodiv .cm, .highlight .cm { color: #8d8687 } /* Comment.Multiline */
.linenos .linenodiv .cp, .highlight .cp { color: #8d8687 } /* Comment.Preproc */
.linenos .linenodiv .cpf, .highlight .cpf { color: #8d8687 } /* Comment.PreprocFile */
.linenos .linenodiv .c1, .highlight .c1 { color: #8d8687 } /* Comment.Single */
.linenos .linenodiv .cs, .highlight .cs { color: #8d8687 } /* Comment.Special */
.linenos .linenodiv .gd, .highlight .gd { color: #ef6155 } /* Generic.Deleted */
.linenos .linenodiv .ge, .highlight .ge { font-style: italic } /* Generic.Emph */
.linenos .linenodiv .gh, .highlight .gh { color: #2f1e2e; font-weight: bold } /* Generic.Heading */
.linenos .linenodiv .gi, .highlight .gi { color: #48b685 } /* Generic.Inserted */
.linenos .linenodiv .gp, .highlight .gp { color: #8d8687; font-weight: bold } /* Generic.Prompt */
.linenos .linenodiv .gs, .highlight .gs { font-weight: bold } /* Generic.Strong */
.linenos .linenodiv .gu, .highlight .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.linenos .linenodiv .kc, .highlight .kc { color: #815ba4 } /* Keyword.Constant */
.linenos .linenodiv .kd, .highlight .kd { color: #815ba4 } /* Keyword.Declaration */
.linenos .linenodiv .kn, .highlight .kn { color: #5bc4bf } /* Keyword.Namespace */
.linenos .linenodiv .kp, .highlight .kp { color: #815ba4 } /* Keyword.Pseudo */
.linenos .linenodiv .kr, .highlight .kr { color: #815ba4 } /* Keyword.Reserved */
.linenos .linenodiv .kt, .highlight .kt { color: #fec418 } /* Keyword.Type */
.linenos .linenodiv .ld, .highlight .ld { color: #48b685 } /* Literal.Date */
.linenos .linenodiv .m, .highlight .m { color: #f99b15 } /* Literal.Number */
.linenos .linenodiv .s, .highlight .s { color: #48b685 } /* Literal.String */
.linenos .linenodiv .na, .highlight .na { color: #06b6ef } /* Name.Attribute */
.linenos .linenodiv .nb, .highlight .nb { color: #2f1e2e } /* Name.Builtin */
.linenos .linenodiv .nc, .highlight .nc { color: #fec418 } /* Name.Class */
.linenos .linenodiv .no, .highlight .no { color: #ef6155 } /* Name.Constant */
.linenos .linenodiv .nd, .highlight .nd { color: #5bc4bf } /* Name.Decorator */
.linenos .linenodiv .ni, .highlight .ni { color: #2f1e2e } /* Name.Entity */
.linenos .linenodiv .ne, .highlight .ne { color: #ef6155 } /* Name.Exception */
.linenos .linenodiv .nf, .highlight .nf { color: #06b6ef } /* Name.Function */
.linenos .linenodiv .nl, .highlight .nl { color: #2f1e2e } /* Name.Label */
.linenos .linenodiv .nn, .highlight .nn { color: #fec418 } /* Name.Namespace */
.linenos .linenodiv .nx, .highlight .nx { color: #06b6ef } /* Name.Other */
.linenos .linenodiv .py, .highlight .py { color: #2f1e2e } /* Name.Property */
.linenos .linenodiv .nt, .highlight .nt { color: #5bc4bf } /* Name.Tag */
.linenos .linenodiv .nv, .highlight .nv { color: #ef6155 } /* Name.Variable */
.linenos .linenodiv .ow, .highlight .ow { color: #5bc4bf } /* Operator.Word */
.linenos .linenodiv .w, .highlight .w { color: #2f1e2e } /* Text.Whitespace */
.linenos .linenodiv .mb, .highlight .mb { color: #f99b15 } /* Literal.Number.Bin */
.linenos .linenodiv .mf, .highlight .mf { color: #f99b15 } /* Literal.Number.Float */
.linenos .linenodiv .mh, .highlight .mh { color: #f99b15 } /* Literal.Number.Hex */
.linenos .linenodiv .mi, .highlight .mi { color: #f99b15 } /* Literal.Number.Integer */
.linenos .linenodiv .mo, .highlight .mo { color: #f99b15 } /* Literal.Number.Oct */
.linenos .linenodiv .sa, .highlight .sa { color: #48b685 } /* Literal.String.Affix */
.linenos .linenodiv .sb, .highlight .sb { color: #48b685 } /* Literal.String.Backtick */
.linenos .linenodiv .sc, .highlight .sc { color: #2f1e2e } /* Literal.String.Char */
.linenos .linenodiv .dl, .highlight .dl { color: #48b685 } /* Literal.String.Delimiter */
.linenos .linenodiv .sd, .highlight .sd { color: #8d8687 } /* Literal.String.Doc */
.linenos .linenodiv .s2, .highlight .s2 { color: #48b685 } /* Literal.String.Double */
.linenos .linenodiv .se, .highlight .se { color: #f99b15 } /* Literal.String.Escape */
.linenos .linenodiv .sh, .highlight .sh { color: #48b685 } /* Literal.String.Heredoc */
.linenos .linenodiv .si, .highlight .si { color: #f99b15 } /* Literal.String.Interpol */
.linenos .linenodiv .sx, .highlight .sx { color: #48b685 } /* Literal.String.Other */
.linenos .linenodiv .sr, .highlight .sr { color: #48b685 } /* Literal.String.Regex */
.linenos .linenodiv .s1, .highlight .s1 { color: #48b685 } /* Literal.String.Single */
.linenos .linenodiv .ss, .highlight .ss { color: #48b685 } /* Literal.String.Symbol */
.linenos .linenodiv .bp, .highlight .bp { color: #2f1e2e } /* Name.Builtin.Pseudo */
.linenos .linenodiv .fm, .highlight .fm { color: #06b6ef } /* Name.Function.Magic */
.linenos .linenodiv .vc, .highlight .vc { color: #ef6155 } /* Name.Variable.Class */
.linenos .linenodiv .vg, .highlight .vg { color: #ef6155 } /* Name.Variable.Global */
.linenos .linenodiv .vi, .highlight .vi { color: #ef6155 } /* Name.Variable.Instance */
.linenos .linenodiv .vm, .highlight .vm { color: #ef6155 } /* Name.Variable.Magic */
.linenos .linenodiv .il, .highlight .il { color: #f99b15 } /* Literal.Number.Integer.Long */